.Details-wrapper {
  background-color: white;
}

.Details-content {
  z-index: 5 !important;
  padding-top: 1.5em !important;
  padding-left: .25em !important;
}

.Details-input {
  font-weight: 700 !important;
  color: rgb(94, 94, 120);
  font-family: Roboto;
}

