.Details-wrapper {
  /* margin: 0 !important; */
  /* overflow: scroll; */
  /* z-index: 5 !important; */
  background-color: white;
  /* height: 100vh; */
  /* position: relative; */
}

.Details-content {
  z-index: 5 !important;
  padding-top: 1.5em !important;
  margin-left: 1.7em !important;
  margin-right: 1.7em !important;
}

.Details-input {
  font-weight: 700 !important;
  color: rgb(94, 94, 120);
  font-family: Roboto;
}

