
.Header-wrapper {
  background-color: white !important;
  box-shadow: 0.25em 0.25em .25em #d4d4d4 !important;
}

.Header-icon {
  padding: 1em 1em 1em 0;
}

.Header-title {
  color: rgb(109, 109, 137);
}