/* .Header-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  max-height: 5.5em;
  box-shadow: 0.25em 0.25em .25em #d4d4d4;
  position: relative;
  margin-bottom: .5em;
}

.Header-icon {
  width: 100%;
  display: flex;
  height: 100%;
  padding: 1em;
}

.Header-title {
  color: rgb(109, 109, 137);
} */

.Header-wrapper {
  background-color: white !important;
  /* z-index: 5 !important; */
  box-shadow: 0.25em 0.25em .25em #d4d4d4 !important;

}

.Header-icon {
  padding: 1em 1em 1em 0;
}

.Header-title {
  color: rgb(109, 109, 137);
}