.SideBar-wrapper {
  width: 25vw;
  min-width: 200px;
  max-width: 400px;
  height: 100vh;
  background-image: url("./side-background.png");
}

.SideBar-content {
  height: 30vh;
}

/* .SideBar-buttons {
  border: 0 !important;
  text-align: left !important;
} */