.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: #00acb0;
  overflow: hidden;
}


.nav-title {
  font-size: 1.5rem;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
}
